<!DOCTYPE html>
<html>
    <head>
        <title>DFW Asian Basketball League</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/matches.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    </head>

    <body class="matches-body">
        <header class="header">
            <div class="left-section">
                <img src="{{ url_for('static', filename='images/dabl-new-logo-v4.png') }}" alt="DABL Logo" class="logo">
            </div>
            <div class="middle-section"> 
                <a href="{{ url_for('homepage') }}"><button class="home-button">Home</button></a>
                <a href="{{ url_for('matches') }}"><button class="matches-button">Matches</button></a>    
                <a href="{{ url_for('teams') }}"><button class="teams-button">Teams</button></a>
                <a href="{{ url_for('contact') }}"><button class="contact-button">Contact</button></a>
            </div>
        </header>

        <div class="matches-container">
            <h1 class="mt-4 mb-4">Matches (Last 3 Weeks)</h1>

            <div class="weeks-container">
                {% for week, matches in matches_by_week.items() %}
                    <div class="week-section">
                        <h2>Week {{ week }}</h2>
                        <div class="match-list">
                            {% for match in matches %}
                                <a href="{{ url_for('display_match', match_id=match) }}" class="match-box">
                                    <div class="match-content">
                                        {% set parts = match.split("_") %}
                                        {% set team1 = parts[1] %}
                                        {% set team2 = parts[3] %}
                                        <div class="team-logos">
                                            <img src="{{ url_for('static', filename='images/teams/' + team1 + '.png') }}" alt="{{ team1 }} Logo">
                                            <span>vs</span>
                                            <img src="{{ url_for('static', filename='images/teams/' + team2 + '.png') }}" alt="{{ team2 }} Logo">
                                        </div>
                                        <p>{{ team1 }} vs {{ team2 }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </body>
</html>
